header {
  text-align: center;
  background: rgba(0, 127, 255, 1);
  color: white;
}

body{
  background: black;
  color: white;
  
  max-width: 800px;
  /*padding: 20px;*/
  margin: 0 auto;
}

a {
  color: white;
}
h1 {
  padding: 10px;
  font-size: 30px;
  text-align: left;
}
ul {
  padding: 10px;
  text-align: right;
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

article {
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
}

@media (max-width: 500px) {
  h1 {
    font-size: 36px;
    padding: 5px;
  }
  li {
    padding: 5px;
    display: block;
  }
  
}

